el-menu(":default-active"="activeIndex","class"="el-menu-demo",":mode"="mode","@select"="try_menuSelect",":background-color"="bgColor",":text-color"="ftColor",":active-text-color"="ftColor_focus")
  block menuItems