el-dialog(":title"="dialogTitle",":visible.sync"="dialogVisible",":width"="dialogWidth",":top"="dialogTop",":before-close"="handleClose",":fullscreen"="fullScreen",":close-on-click-modal"="closeOn_modalClick")
  block dialogContent
  block dialogTail
