el-input("v-model"="inputText",":placeholder"="placeHolder",":disabled"="Disabled",":clearable"="Clearabled","show-password","v-if"="Passworded")
el-input("v-else","v-model"="inputText",":placeholder"="placeHolder",":disabled"="Disabled",":clearable"="Clearabled") 
